{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row flex-lg-row-reverse align-items-center pb-5">
    <div class="col-10 col-sm-8 col-lg-6 mb-4">
      <img src="{% static 'image/hero.svg'%}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Клёвое место</h1>
      <p class="lead">Много клёвых мест на одном сайте. Выезжайте на рыбалку прямо сейчас!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-lg px-4 me-md-2" href="{% url 'catalog:spot_list' %}">Каталог</a>
        <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'map:map' %}">Карта</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-body-tertiary">
  <div class="container">
    <div class="row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'image/chatbot.svg'%}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500"
             height="400">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Чат-бот "Клёвое место"</h1>
        <p class="lead">Все клёвые места в твоём смартфоне.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="https://t.me/FishPlace_lyceum_bot">Открыть чат бот</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
