{% for message in messages %}
  {% if 'success' in message.tags %}
    <div class="success-message alert alert-success">{{ message }}</div>
  {% elif 'warning' in message.tags %}
    <div class="warning-message alert alert-warning">{{ message }}</div>
  {% elif 'error' in message.tags %}
    <div class="error-message alert alert-danger">{{ message }}</div>
  {% endif %}
{% endfor %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    {% for field in form %}
      <div class="form-label {% if field.errors %}{% endif %}">
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label|capfirst }}</label>
        <div class="controls">
          {{ field }}
          {% if field.name == 'region' %}
            {% include "includes/special_test.html" %}
          {% endif %}
          <h6>{{ field.help_text }}</h6>
          {% if form.errors %}
            <span class="help-inline">
              {% for error in field.errors %}
                <div class="text-warning">{{ error|escape }}</div>
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <input type="submit" class="btn btn-primary" value="подтвердить" title="подтвердить" />
  </div>
</form>
